@font-face {
   font-family: 'Google';
   src: url(../fonts/GoogleSans-Regular.woff);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'GoogleMedium';
   src: url(../fonts/GoogleSans-Medium.woff);
   font-weight: 500;
   font-style: normal;
}

.fw-medium {
   font-family: 'GoogleMedium';
}

@font-face {
   font-family: 'GoogleBold';
   src: url(../fonts/GoogleSans-Bold.woff);
   font-weight: 700;
   font-style: normal;
}

.fw-bold {
   font-family: 'GoogleBold';
}

html,
body {
   color: #323232;
   font-family: 'Google', sans-serif;
}

* {
   /* outline: solid 1px green; */
}

.wrapper {
   padding-top: 70px;
}

.wrapper section {
   margin-bottom: 5.5rem;
}

@media (min-width: 992px) {
   .wrapper {
      padding-top: 136px;
   }

   .wrapper section {
      margin-bottom: 7rem;
   }
}

::placeholder {
   color: inherit !important;
   opacity: .5 !important;
}

.bg-light {
   background-color: #f1f2f2;
}

/* custom button */
a {
   color: inherit;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.btn,
.form-control,
.navbar-toggler:focus {
   outline: none !important;
   box-shadow: none !important;
   text-decoration: none !important;
}

.btn {
   text-transform: capitalize;
}

.btn-primary {
   color: white !important;
   background-color: #fd4f00 !important;
   border-color: #fd4f00 !important;
}

.btn-primary:hover,
.btn-primary.active {
   color: white !important;
   background-color: #fd1e00 !important;
   border-color: #fd1e00 !important;
}

.btn-light {
   color: #323232 !important;
   background-color: #f4f4f4 !important;
   border-color: #f4f4f4 !important;
}

.btn-light:hover,
.btn-light.active {
   color: #323232 !important;
   background-color: #e4e4e4 !important;
   border-color: #e4e4e4 !important;
}

.btn-secondary {
   color: #323232 !important;
   background-color: #e4e4e4 !important;
   border-color: #e4e4e4 !important;
}

.btn-secondary:hover,
.btn-secondary.active {
   color: white !important;
   background-color: #656565 !important;
   border-color: #656565 !important;
}

.btn-outline-secondary {
   color: #323232 !important;
   background-color: transparent !important;
   border-color: #878787 !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary.active {
   color: white !important;
   background-color: #656565 !important;
   border-color: #656565 !important;
}

.btn-dark {
   color: white !important;
   background-color: #656565 !important;
   border-color: #656565 !important;
}

.btn-dark:hover,
.btn-dark.active {
   color: white !important;
   background-color: #323232 !important;
   border-color: #323232 !important;
}

/* grid */
.row.g-0 {
   margin: 0;
}

.row.g-0>div {
   padding: 0;
   margin-top: 1.875px;
}

.row.g-1 {
   margin: 0 -1.875px;
}

.row.g-1>div {
   padding: 0 1.875px;
   margin-top: 3.75px;
}

.row.g-2 {
   margin: 0 -3.75px;
}

.row.g-2>div {
   padding: 0 3.75px;
   margin-top: 7.5px;
}

.row.g-3 {
   margin: 0 -7.5px;
}

.row.g-3>div {
   padding: 0 7.5px;
   margin-top: 15px;
}

@media (min-width: 992px) {
   .row.g-lg-0 {
      margin: 0;
   }

   .row.g-lg-0>div {
      padding: 0;
      margin-top: 1.875px;
   }

   .row.g-lg-1 {
      margin: 0 -1.875px;
   }

   .row.g-lg-1>div {
      padding: 0 1.875px;
      margin-top: 3.75px;
   }

   .row.g-lg-2 {
      margin: 0 -3.75px;
   }

   .row.g-lg-2>div {
      padding: 0 3.75px;
      margin-top: 7.5px;
   }

   .row.g-lg-3 {
      margin: 0 -7.5px;
   }

   .row.g-lg-3>div {
      padding: 0 7.5px;
      margin-top: 15px;
   }
}

/* product price */
.product-price {
   line-height: normal;
}

.product-price .promo-price {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.product-price .discount-price,
.product-price .normal-price {
   margin: 0 .25rem;
}

.product-price .reguler-price {
   font-family: 'GoogleMedium';
}

.product-price .discount-price {
   color: #fd4f00;
   font-family: 'GoogleMedium';
}

.product-price .normal-price {
   opacity: .75;
}

/* form check */
.form-check-input {
   opacity: 0;
   visibility: hidden;
}

.form-check input,
.form-check label {
   cursor: pointer;
}

.form-check-circle {
   position: absolute;
   top: 0;
   left: 0;
   margin-top: .3rem;
   width: 13px;
   height: 13px;
   border-radius: 100%;
   background-color: #d1d2d2;
}

.form-check input:checked~.form-check-circle {
   background-color: #656565;
}

@media (min-width: 1200px) {
   .konten {
      max-width: 715px;
   }

   .panel {
      max-width: 365px;
   }
}

/* text center on input type number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}